@charset "UTF-8";

/* .conteiner {
    display: flex;
} */
/* 1 */
.items {
    display: flex;
    flex-direction: row;
}

.items .item {
    background-color: #00bbdd;
    width: 65px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.items1 {
    display: flex;
    flex-direction: row-reverse;
}

.items1 .item {
    background-color: #00bbdd;
    width: 65px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.items2 {
    display: flex;
    flex-direction: column;
}

.items2 .item {
    background-color: #00bbdd;
    width: 65px;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.items3 {
    display: flex;
    flex-direction: column-reverse;
}

.items3 .item {
    background-color: #00bbdd;
    width: 65px;
    margin-top: 20px;
    padding: 10px;
    color: #fff;
    text-align: center;
}

/* ２ */
.items2-0 {
    display: flex;
    flex-wrap: nowrap;
}

.items2-0 .item {
    background-color: #00bbdd;
    width: 65px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.items2-1 {
    display: flex;
    flex-wrap: wrap;
}

.items2-1 .item {
    background-color: #00bbdd;
    width: 65px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.items2-2 {
    display: flex;
    flex-wrap: wrap-reverse;
}

.items2-2 .item {
    background-color: #00bbdd;
    width: 65px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-align: center;
}

/* 3 */
.items3-0 {
    display: flex;
    justify-content: flex-start;
}

.items3-0 .item {
    background-color: #00bbdd;
    width: 65px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.items3-1 {
    display: flex;
    justify-content: flex-end;
}

.items3-1 .item {
    background-color: #00bbdd;
    width: 65px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.items3-2 {
    display: flex;
    justify-content: center;
}

.items3-2 .item {
    background-color: #00bbdd;
    width: 65px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.items3-3 {
    display: flex;
    justify-content: space-between;
}

.items3-3 .item {
    background-color: #00bbdd;
    width: 65px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.items3-4 {
    display: flex;
    justify-content: space-around;
}

.items3-4 .item {
    background-color: #00bbdd;
    width: 65px;
    margin: 10px;
    padding: 10px;
    color: #fff;
    text-align: center;
}

/* 4 */
.items4-0 {
    display: grid;
    grid-template-columns: repeat(3, 200px);
    gap: 10px;
}

.items4-0 .item {
    background-color: #00bbdd;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.items4-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    margin-top: 40px;

}
.items4-1 .item {
    background-color: #00bbdd;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.items4-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 200px 200px;
    gap: 10px;
    margin-top: 40px;

}
.items4-2 .item {
    background-color: #00bbdd;
    padding: 10px;
    color: #fff;
    text-align: center;
}




.container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
    margin-bottom: 40px;
}
.container .item {
    padding: 10px;
    background-color: #00bbdd;
    color: #fff;
}

.container .red {
    grid-column: 1 / 3;
    background-color: #dd0700;
}
.container .green {
    grid-row: 2 / 4;
    background-color: #0bdd00;
}
.container .yellow {
    grid-column: 2 / 4;
    background-color: #d9dd00;
}