@charset "UTF-8";

body {
    font-size: 18px;
    line-height: 22px;
}
.cell--table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #000000;
}

.cell--table th {
    background-color: #319e4e;
    border: 1px solid #000000;
    padding: 10px;
    line-height: 26px;
}



.cell--table tbody td {
    text-align: center;
    justify-content: center;
    border: 1px solid #000000;
    padding: 10px;
}

.cell--table tbody tr:nth-child(1) {
    background-color: #d5ffe7;
}

.cell--table tbody tr:nth-child(3) {
    background-color: #d5ffe7;
}

.cell--table tbody tr:nth-child(5) {
    background-color: #d5ffe7;
    border-top: double #fff;
}

.cell--table tbody tr:nth-child(2) {
background-color: #bcbcbc;
}
.cell--table tbody tr:nth-child(4) {
    background-color: #bcbcbc;
}

